<div class="leaderboard-runnersup" id="{{lbPlace}}">
    <h3>{{lbPlace}}</h3>
    <div class="runnersup-info">
        <img id="2nd-team-flag" src="assets/profiles/profileimages_{{filename}}.png" />
        <div>
            <h3>{{name}}</h3>
            <p>Profile {{OPTION}}</p>
        </div>
        <p>{{lbTime}}</p>
    </div>
</div>
