<p>climber: <span class='rAlign'>{{nameTruncated}}</span></p>
<p>id: <span class='rAlign'>{{OPTION}} ({{profile}})</span></p>
<p>t1, t2: <span class='rAlign'>{{t1}}, {{t2}}</span></p>
<p>total: <span class='rAlign'>{{tTotal}}</span></p>
<p>ox, sus: <span class='rAlign'>{{quantumOxygen}}, {{quantumSustenance}}</span></p>
<!--<p>sus.: <span class='rAlign'>{{quantumSustenance}}</span></p>-->
<p>delay: <span class='rAlign'>{{delayRemainingRounded}}</span></p>
