<div class='map-pointer-container' id='pointer_{{profile}}'>


    <svg id='countpie_{{profile}}' width='25' height='25' viewBox='0 0 36 36' style='display: none;'>
        <!-- Background Circle -->
        <circle cx='18' cy='18' r='18' fill='rgba(111, 111, 111, 0.22)'></circle>

        <!-- Dynamic Filled Pie (Initially Full) -->
        <path id='countdownPie{{profile}}' fill='#007bff'></path>
    </svg>

    <div class='map-pointer-label' id='map-pointer-label_{{profile}}' style='display: none;'>
       {{> dev_climber_summary this}}
    </div>
    <img class='map-pointer-profile' src='assets/profiles/profileimages_{{filename}}.png' />
    <img class='map-pointer' src='assets/icons/Icons_Pointer.png' />
</div>
