<!--<input type='radio' id='{{this.id}}' name='option' value='{{this.a}}'>-->
<!--<label for='{{this.id}}'>{{this.a}}</label><br>-->
<label>
    <input type='radio' id='{{this.id}}' name='option' value='{{this.a}}'>
    {{this.a}}
</label>
