<table>
{{#each session}}
<tr>
    <td>{{@key}}</td><td>{{this}}</td>
</tr>
{{/each}}
</table>
climbers:
<table>

<th>name</th><th>time</th><th>status</th><th>delays</th><th>total delay</th>
{{#each climbers}}
<tr>
    <td>{{name}}</td><td>{{totalTimeFormat}}</td><td>{{status}}{{#if finished}} ({{finishTimeDisplay}}){{/if}}</td><td>{{allDelaysDisplay}}</td><td>{{totalDelays}}</td>
</tr>
{{/each}}
</table>
<table>
{{#each answers}}
<tr><td>{{@key}}) {{this}}</td></tr>
{{/each}}
</table>
<div class='sessionButton' id='download'>Download session data</div>
<div class='sessionButton' id='delete'>DELETE THIS SESSION</div>
