<table><tbody>
{{#each list}}
<tr class='tr{{type}} hidden {{showList}}'>
    <td class='tdtime'>{{time}}</td>
    <td class='tdtype'>{{type}}</td>
    <td class='tdmsg'>{{msg}}</td>
</tr>
{{/each}}
</tbody></table>
