<div class='bg_map'></div>
<div class="mountain">

    <div id='climbzone'><div id='climby'><div id='climbx'></div></div></div>
    <div id='mapzone'>
        {{#each climbers}}
        <div class="map-pointer-container" id="pointer_{{profile}}">
            <div class='map-pointer-label'>
                <p>climber: <span class='rAlign'>{{OPTION}} ({{profile}})</span></p>
<!--                <p>profile: <span class='rAlign'>{{profile}}</span></p>-->
                <p>time 1: <span class='rAlign'>{{t1}}</span></p>
                <p>time 2: <span class='rAlign'>{{t2}}</span></p>
                <p>total: <span class='rAlign'>{{tTotal}}</span></p>
            </div>
            <img class="map-pointer-profile" src="assets/profiles/ProfileImages_{{filename}}.png" />
            <img class="map-pointer" src="assets/icons/Icons_Pointer.png" />
        </div>
        {{/each}}
    </div>
</div>
<!-- Page Header -->
<div class="game-progress-container">
    <div class="game-progress-nav">
        <div>
            <a class="back-btn"  title="Previous page"><img alt="Previous page icon" src="assets/buttons/backButton.svg" /></a>

            <p class="game-time">00:00</p>
        </div>
    </div>
</div>
