
<div class="main-background">
<div class="desktop-fade-bg">
	<!-- Page Header -->
<div class="nav-header-container dark-text">
	<div class="back-btn-title-bar">
		<a class="back-btn" title="Previous page"><img alt="Previous page icon" src="assets/buttons/backButton-black.svg"/></a>
		<h1>Resources</h1>
	</div>
</div>

	<!-- Profile Hero -->

<div class="resources-grid">
	<div class="resources-grid-item">
<!-- PROFILE A START -->
	<!-- Header -->
<div class="resources-profile-header" id="profile-A">
	<div class="resources-profile-navbtn-box">
	<a class="resources-profile-navbtn navbtn-previous resources_adj" id='res_-1_{{profile}}' title="Previous page"><img alt="Previous page icon" src="assets/buttons/previousButton-black.svg"/></a>
	</div>
	<div class="resources-profile-info center">
		<img class="profile-icon" alt="Profile icon" src="assets/profiles/ProfileImages_{{filename}}.png"/>
		<h2><span class='dyno'>{{name}}</span></h2>
		<p>Profile <span class='dyno'>{{OPTION}}</span></p>
	</div>
	<div class="resources-profile-navbtn-box">
	<a class="resources-profile-navbtn navbtn-next resources_adj" id='res_1_{{profile}}' title="Next page"><img alt="Next page icon" src="assets/buttons/nextButton-black.svg"/></a>
	</div>

</div>
		<!-- Main Content -->
<div class="main-content">
	<div class="content-block">
		<p>Select which load you want to allocate for this climber.</p>
		<div class="resource-options-container center">
		    {{#each options}}
			<div class="resource-option-item">
			<h3>Option A</h3>
				<p><span class='dyno'>{{capacity}}</span>kg load carrying capacity</p>
			</div>
			{{/each}}
<!--
			<div class="resource-option-item">
			<h3>Option B</h3>
				<p>60kg load carrying capacity</p>
			</div>
			<div class="resource-option-item">
			<h3>Option C</h3>
				<p>90kg load carrying capacity</p>
			</div>
-->
		</div>
		<div class="call-out-box">
		<h3>Ideal climb times</h3>
		<p>Based on nothing unexpected occurring.</p>
		<img class="summit-graphic" src="assets/profiles/ProfileImages_ProfileA-A.png" alt="Ideal clime times"/>
			<div class="inset-box">
				<img src="assets/icons/questionMark.png" alt="question mark icon"/>
		<p>Would you prefer to prioritise speed or to take extra resources and move at a slower pace but test your edurance?</p>
			</div>
		</div>
	</div>
</div>
</div> <!-- Closing Flex Item Tag -->
	<div class="resources-grid-item">

<div class="main-content">
	<div class="call-out-box">
		<h3>Resources</h3>
		<p>One line here if needed?</p>
		<div class="resources-table-grid">
			<div></div>
			<div><p>Required Amount</p></div>
			<div><p>Weight</p></div>
					<!-- Oxygen Row -->
			<div class="table-grid-icons">
				<div><img src="assets/icons/Icons_Oxygen.png" alt="Oxygen tank icon"/></div>
				<p>Oxygen</p></div>
			<div><p>x รท 10 = y</p></div>
			<div><p>y x 5 = z</p></div>
					<!-- Sustenance Row -->
			<div class="table-grid-icons">
				<div><img src="assets/icons/Icons_Sustenance.png" alt="sustenance icon"/></div>
				<p>Sustenance</p></div>
			<div><p>x รท 10 = y</p></div>
			<div><p>y x 5 = z</p></div>
					<!-- Rop Row -->
			<div class="table-grid-icons">
				<div><img src="assets/icons/Icons_RopeIcon.png" alt="rope icon"/></div>
				<p>Emergency Rope (metres)</p></div>
			<div><p>x รท 10 = y</p></div>
			<div><p>y x 5 = z</p></div>
					<!-- Total Row -->
			<div class="table-grid-icons">

				<p>Total</p></div>
			<div></div>
			<div><p>z</p></div>
					<!-- Remaining Row -->
			<div class="table-grid-icons">

				<p>Remaining</p></div>
			<div></div>
			<div><p>a</p></div>
		</div>
		<div class="inset-box">
			<img src="assets/icons/questionMark.png" alt="question mark icon"/>
			<p>Would you prefer to prioritise speed or to take extra resources and move at a slower pace, ensuring better preparedness for an inexperienced climber?</p>
		</div>
		<div class="content-block">
			<p>Enter your amounts below:</p>
			<form action="#">
				<div>
			  <label for="oxygen">Oxygen</label>
			  <input type="text" id="oxygen" name="oxygen" value="0">
				</div>
			<div>
				<label for="oxygen">Sustenance</label>
				<input type="text" id="sustenance" name="oxygen" value="0"></div>

				<div>
				<label for="oxygen">Emergency rope</label>
					<input type="text" id="emergencyRope" name="oxygen" value="0"></div>

			  <input type="submit" value="Submit" class="form-submit-btn">
			</form>
		</div>
	</div>
</div>

<!-- PROFILE A END -->
</div> <!-- Closing Grid Item Tag -->

</div> <!-- Closing Grid Container Tag -->
</div> <!-- Closing Desktop Fade BG Tag -->
</div> <!-- Closing Main BG Tag -->

