<div class="main-background">
    <div class="desktop-fade-bg">
        <!-- Page Header -->
        <div class="nav-header-container dark-text" id="page-top">
            <div class="back-btn-title-bar">
                <a class="back-btn" title="Previous page"><img alt="Previous page icon" src="assets/buttons/backButton-black.svg" /></a>
                <h1>Meet your team</h1>
            </div>
        </div>

        <!-- Main Content -->
        <div class="main-content" style="margin-bottom: 300px;" id="profile-menu">
            {{#each profiles}}
                <div class="content-block">
                    <div class="your-team-profile">
                        <a class="profile-btn" href="#profile-{{OPTION}}" title="Previous page"><img src="assets/profiles/profileimages_{{filename}}.png" alt="Team member icon" /></a>
                        <div>
                            <h2><span class='dyno'>{{name}}</span></h2>
                            <p>Profile <span class='dyno'>{{OPTION}}</span></p>
                        </div>
                    </div>
                </div>
                <hr />
            {{/each}}


        </div>

        <div class="flex-container">
            {{#each profiles}}
            <div class="flex-item">
                <!-- PROFILE A START -->
                <!-- Header -->
                <div class="profile-header" id="profile-{{OPTION}}">
                    <div class="hero-image hero-image-{{team.adjectiveLower}}">
                        <div class="back-btn-title-bar">
                            <a class="back-btn" href="#page-top" title="Previous page"><img alt="Previous page icon" src="assets/buttons/topButton.svg" /></a>
                        </div>
                    </div>
                    <div class="profile-info center">
                        <img class="profile-icon" alt="Profile icon" src="assets/profiles/profileimages_{{filename}}.png" />
                        <h2>{{name}}</h2>
                        <p>Profile {{OPTION}}</p>

                    </div>

                </div>
                <!-- Main Content -->
                <div class="main-content">
                    <div class="content-block">
                        <h3>About</h3>
                        <p>{{dynamicPartial profileData.partials.about1}}</p>
                    </div>
                    <div class="content-block" style="padding: 0 10px;">

                        <div class="row">
                            <div class="col-5">
                                <p>Experience</p>
                            </div>
                            <div class="col-7">
                                <div class="progress" style="height:12px;">
                                    <div class="progress-bar" style="width:25%;"></div>
                                </div>
                            </div>
                            <div class="col-5">
                                <p>General Health</p>
                            </div>
                            <div class="col-7">
                                <div class="progress" style="height:12px;">
                                    <div class="progress-bar" style="width:65%;"></div>
                                </div>
                            </div>
                            <div class="col-5">
                                <p>Fitness</p>
                            </div>
                            <div class="col-7">
                                <div class="progress" style="height:12px;">
                                    <div class="progress-bar" style="width:80%;"></div>
                                </div>
                            </div>
                            <div class="col-5">
                                <p>Support Required</p>
                            </div>
                            <div class="col-7">
                                <div class="progress" style="height:12px;">
                                    <div class="progress-bar" style="width:65%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-block">
                        <p>{{dynamicPartial profileData.partials.about2}}</p>
                    </div>
                    <div class="content-block">
                        <div class="icon-box">
                            <img src="assets/icons/Icons_medicalIcon.png" alt="Medical icon" />
                            <div>
                                <h3>Camp IV Medical Assessment</h3>
                                <p>{{dynamicPartial profileData.partials.medical}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="content-block" id="climb-info-a">
                        <h3>Climbing information</h3>
                        <div class="climbing-overview-grid">
                            <div class="climbing-overview-mountain">
                                <img src="assets/profiles/profileimages_MountainKey.png" alt="" />
                            </div>

                            <div>
                                <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#goalModal">
                                    <img class="climbing-overview-icon" src="assets/icons/Icons_GoalIcon.png" alt="" /></a>
                            </div>
                            <div>
                                <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#journeyModal">
                                    <img class="climbing-overview-icon" src="assets/icons/Icons_JourneyIcon.png" alt="" /></a>
                            </div>
                            <div>
                                <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#ropeModal">
                                    <img class="climbing-overview-icon" src="assets/icons/Icons_RopeIcon.png" alt="" /></a>
                            </div>
                            <div>
                                <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#waitTimeModal">
                                    <img class="climbing-overview-icon" src="assets/icons/Icons_WaitTimesIcon.png" alt="" /></a>
                            </div>
                            <div>
                                <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#resourcesModal">
                                    <img class="climbing-overview-icon" src="assets/icons/Icons_ResourceSharingIcon.png" alt="" /></a>
                            </div>
                            <div>
                                <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#noResourcesModal">
                                    <img class="climbing-overview-icon" src="assets/icons/Icons_NoResourcesIcon.png" alt="" /></a>
                            </div>
                            <div>
                                <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#sectionProblemModal">
                                    <img class="climbing-overview-icon" src="assets/icons/Icons_SectionProblemIcon.png" alt="" /></a>
                            </div>
                            <div>
                                <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#profileProblemModal">
                                    <img class="climbing-overview-icon" src="assets/icons/Icons_ProfileProblemIcon.png" alt="" /></a>
                            </div>
                        </div>


                    </div>

                </div>

                <!-- PROFILE A END -->
            </div> <!-- Closing Flex Item Tag -->
            {{/each}}
        </div> <!-- Closing Flex Container Tag -->
    </div> <!-- Closing Desktop Fade BG Tag -->
</div> <!-- Closing Main BG Tag -->
<!-- The Modals -->
