<div class='choice_options'>
    <img src="assets/profiles/profileimages_{{theProfile.filename}}.png"/>
    <h4>{{theProfile.name}}</h4>
    <!--<p>Profile {{theProfile.OPTION}}</p>-->


    <h3>Crampons event</h3>
    Choose a support climber to help:
    <br>
    {{#each supportTeam}}
    <div class="teamSelectButton" id="{{profile}}">
        <div class="teamSelectIcon"><img src='assets/profiles/profileimages_{{filename}}.png'></div>
        <div class="teamSelectText">  <!-- Added wrapper div -->
            <h4>{{name}}</h4>
            <p>Profile {{OPTION}}</p>
            <p>{{team.adjective}} Team</p>
        </div>
    </div>

    {{/each}}
</div>
{{#each metrics.results}}
<div class='choice_option' id='choice_option{{profile.profile}}'>
    <div class='choice_option_header'>
    <div class='fullflag'><img src='assets/flags/Flags_{{profile.team.adjective}}.png'></div>
    <div class="choiceIcon"><img src='assets/profilesjh/profileimages_{{profile.filename}}.png'></div>
    <h3>{{profile.name}}</h3>
    <p>Profile {{profile.OPTION}} | {{profile.team.adjective}} Team</p>
    </div>
    <div class='choice_option_content'>
        {{text}}
    </div>
    {{#if dice}}{{> diceroll}}{{/if}}
</div>
{{/each}}
