<div class='choice_options'>
    <img src="assets/profiles/ProfileImages_{{theProfile.filename}}.png"/>
    <h2>{{theProfile.name}}</h2>
    <!--<p>Profile {{theProfile.OPTION}}</p>-->


    <h3>{{event}} event</h3>
    <br>
    <p>Ask for help from a climber in this section - they can say no!</p>
    <br>
    {{#each supportTeam}}
    <div class="teamSelectButton" id="{{profile}}">
        <div class="teamSelectIcon"><img src='assets/profiles/ProfileImages_{{filename}}.png'></div>
        <div class="teamSelectText">  <!-- Added wrapper div -->
            <h4 class='{{#if hasDie}}canHelp{{/if}}'>{{name}}</h4>
            <p>Profile {{OPTION}}</p>
            <p>{{team.adjective}} Team</p>
        </div>
    </div>

    {{/each}}
</div>
{{#each metrics.results}}
<div class='choice_option' id='choice_option{{profile.profile}}'>
    <div class='choice_option_header'>
    <div class='fullflag'><img src='assets/flags/Flags_{{profile.team.adjective}}.png'></div>
    <div class="choiceIcon"><img src='assets/profilesjh/ProfileImages_{{profile.filename}}.png'></div>
    <h3>{{profile.name}}</h3>
    <p>Profile {{profile.OPTION}} | {{profile.team.adjective}} Team</p>
    </div>
    <div class='choice_option_content'>
        {{text}}
    </div>
    {{#if dice}}
    {{> die profile}}

<!--    <div class="dice" id="dice{{profile.profile}}">🎲</div>-->
    {{/if}}
</div>
{{/each}}
